:root {
    --text: #333;
    --bg: #ddd;
    --accent: #2164bb;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font: 16px/1.6 "Nunito", sans-serif;
    color: var(--text);
    background: var(--bg);
}

body,
#root {
    height: 100vh;
}

#root {
    display: grid;
    place-content: center;
}

form,
label {
    display: flex;
    flex-direction: column;
}

form,
form input,
form button {
    padding: 1rem;
    border: 2px solid;
    border-radius: 0.25em;
}

form {
    padding: 2rem;
    width: 30em;
}

form > *:not(:first-child) {
    margin-top: 1rem;
}

label:focus-within,
input:focus {
    color: var(--accent);
}

input:focus {
    outline: none;
}

button {
    color: var(--bg);
    border: 3px solid var(--accent);
    background: var(--accent);
    font-size: 1.2em;
    text-transform: uppercase;
}

button:hover,
button:focus {
    outline: none;
    color: var(--accent);
    background: var(--bg);
}

label,
button {
    font-weight: bold;
    cursor: pointer;
}

form button + p {
    text-align: right;
}

p.error {
    margin-bottom: 1em;
    font-weight: bold;
    color: var(--accent);
    width: 30rem;
}

a {
    color: var(--accent);
    font-weight: bold;
    text-decoration: none;
    border: 0;
}

a:focus,
a:hover {
    border-bottom: 2px solid;
}
